# Estructura: postgresql://USUARIO:CONTRASEÑA@HOST:PUERTO/DATABASE?schema=SCHEMA
DATABASE_URL="postgresql://postgres:root@localhost:5432/tuguiapro?schema=public"

POSTGRES_DB='tuguiapro'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='root'